.filter-list {
  @include display($align: stretch);
  margin-top: 93px;

  & li + li {
    margin-left: 8px;
  }
}

.button {
  padding: 6px 22px;
  @include generalfont(500, 16px);
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: $title-nav-color;
  background-color: $background-color;
  border-radius: 4px;
  box-shadow: none;
  border-color: $primary-white-color;
  transition: color $transition, background-color $transition;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $focus-color;
    cursor: pointer;
  }
}
